<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>jd_title</td>
        <td>city</td>
        <td>jd_name</td>
        <td>jd_sub_type</td>
        <td>require_nums</td>
        <td>max_salary</td>
        <td>min_salary</td>
        <td>is_travel</td>
        <td>min_work_year</td>
        <td>max_work_year</td>
        <td>min_edu_level_num</td>
        <td>merge_prob</td>
    </tr>
    </thead>
    <tbody>
    {% for j in jobs %}
        <tr>
            <td>{{ j.jd_title }}</td>
            <td>{{ j.city }}</td>
            <td>{{ j.job_name }}</td>
            <td>{{ j.jd_sub_type }}</td>
            <td>{{ j.require_nums }}</td>
            <td>{{ j.max_salary }}</td>
            <td>{{ j.min_salary }}</td>
            <td>{{ j.is_travel }}</td>
            <td>{{ j.min_work_year }}</td>
            <td>{{ j.max_work_year }}</td>
            <td>{{ j.min_edu_level_num }}</td>
            <td>{{ j.merge_prob }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>